ebooklib==0.18

selenium~=4.11.2
webdriver-manager==4.0.2
undetected-chromedriver==3.5.5

Pillow==9.4.0
tk==0.1.0
requests~=2.31.0
more-itertools==10.7.0

pandas>=2.0.0
datasketch>=1.6.5

# TTS Dependencies
sherpa-onnx>=1.10.0
soundfile>=0.12.1